header{
  height: 60px;
  background: #fff;
  border-bottom: #efefef 1px solid;
  .headermain {
    max-width: 1024px;
    margin: 0 auto;
  }
  .logo {
    float: left;
    display: block;
    line-height: 60px;
    font-weight: bolder;
    font-size: 32px;
  }
  .search{
    float: right;
    padding: 15px 0;
    input[type="text"] {
      height: 30px;
      line-height: 30px;
      box-sizing: border-box;
      width: 150px;
      border-radius: 5px;
      border: #409EFF 1px solid;
      display: block;
      float: left;
      padding: 0 10px;
    }
    input[type="submit"] {
      box-sizing: border-box;
      display: block;
      width: 60px;
      height: 30px;
      float: left;
      margin-left: 5px;
      border: none;
      background: url(../images/search.png) no-repeat center #409EFF;
      background-size: 24px 24px;
      border-radius: 5px;
    }
  }
}
.container{
  padding: 20px 0;
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}
.fir_file_list{
  li{
    padding: 5px 10px;
    line-height: 24px;
    padding-left: 30px;
    border-bottom: #eaecef 1px solid;
    &:last-of-type{
      border-bottom: none;
    }
    &.dir {
      background: url(../images/folder.png) no-repeat left;
      background-size: 16px 16px;
      background-position: 10px 8px;
    }
    &.file {
      background: url(../images/file.png) no-repeat left;
      background-size: 16px 16px;
      background-position: 10px 8px;
    }
    a{
      text-decoration: none;
    }
  }
}
.position{
  background: #fafafa;
  border-bottom: #efefef 1px solid;
  padding: 8px;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  span{
    float: left;
  }
}
.nofiles{
  padding-top: 340px;
  background: url(../images/404.png) no-repeat top;
  background-size: 320px 320px;
  text-align: center;
  color: #409EFF;
}

.pagetitle{
  border-bottom: #ccc 1px solid;
  padding-bottom: 10px;
}
.file_time_info{
  line-height: 32px;
  font-size: 12px;
  color: #999;
  span{
    margin-right: 10px;
  }
}
.article{
  padding: 8px 0;
  font-size: 14px;
  line-height: 1.8;
  img{
    max-width: 100%;
    height: auto;
  }
  h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin-top: 20px;
  }
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.4em;
  }
  h3{
    font-size: 1.3em;
  }
  h4{
    font-size: 1.2em;
  }
  h5{
    font-size: 1.1em;
  }
  strong{
    font-weight: bold;
  }
  p{
    padding: 8px 0;
  }
  blockquote{
    background: #efefef;
    padding: 12px 12px 12px 20px;
    color: #666;
  }
  a{
    color: #049ff8;
    &:hover, &:active{
      text-decoration: underline;
    }
  }
  ul{
    padding-left: 20px;
    li{
      padding: 5px 0;
      list-style-type: disc;
    }
  }
  table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;  
    th {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #333;
      background: #efefef;
      padding: 10px 0;
      border: #dedede 1px solid;
    }
    td {
      border: #dedede 1px solid;
      padding: 5px 8px;
      vertical-align: middle;
      .submit {
        width: 40px;
      }
    }
  }
}
.html_preview{
  position: relative;
  .box{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    &>div{
      height: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      &>div{
        position: relative;
        height: 215px;
      }
      iframe{
        flex: 1;
        display: block;
        border: 1px solid #dfdfdf;
        box-sizing: border-box;
      }
    }
  }
}
.nopreview{
  text-align: center;
  padding: 200px;
  border: #efefef 1px solid;
  .info{
    color: #999;
    padding-bottom: 10px;
  }
}
.module_box{
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  .title{
    background: #f6f8fa;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
  }
  .article{
    padding: 10px;
  }
}